In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
metadata = pd.read_csv(r'C:\Users\user\OneDrive\Desktop\Data Mining\Project part 1\top100_kdrama.csv')

In [4]:
print(metadata.shape)

(100, 14)

In [5]:
metadata.head(5)

,Name,Year of release,Aired Date,Aired On,Number of Episode,Network,Duration,Content Rating,Synopsis,Cast,Genre,Tags,Rank,Rating
0,Move to Heaven,2021,"May 14, 2021",Friday,10,Netflix,52 min.,18+ Restricted (violence & profanity),Geu Roo is a young autistic man. He works for ...,"Lee Je Hoon, Tang Jun Sang, Hong Seung Hee, Ju...","Life, Drama, Family","Autism, Uncle-Nephew Relationship, Death, Sava...",#1,9.2
1,Hospital Playlist,2020,"Mar 12, 2020 - May 28, 2020",Thursday,12,"Netflix, tvN",1 hr. 30 min.,15+ - Teens 15 or older,The stories of people going through their days...,"Jo Jung Suk, Yoo Yeon Seok, Jung Kyung Ho, Kim...","Friendship, Romance, Life, Medical","Strong Friendship, Multiple Mains, Best Friend...",#2,9.1
2,Flower of Evil,2020,"Jul 29, 2020 - Sep 23, 2020","Wednesday, Thursday",16,tvN,1 hr. 10 min.,15+ - Teens 15 or older,Although Baek Hee Sung is hiding a dark secret...,"Lee Joon Gi, Moon Chae Won, Jang Hee Jin, Seo ...","Thriller, Romance, Crime, Melodrama","Married Couple, Deception, Suspense, Family Se...",#3,9.1
3,Hospital Playlist 2,2021,"Jun 17, 2021 - Sep 16, 2021",Thursday,12,"Netflix, tvN",1 hr. 40 min.,15+ - Teens 15 or older,Everyday is extraordinary for five doctors and...,"Jo Jung Suk, Yoo Yeon Seok, Jung Kyung Ho, Kim...","Friendship, Romance, Life, Medical","Workplace, Strong Friendship, Best Friends, Mu...",#4,9.1
4,My Mister,2018,"Mar 21, 2018 - May 17, 2018","Wednesday, Thursday",16,tvN,1 hr. 17 min.,15+ - Teens 15 or older,Park Dong Hoon is a middle-aged engineer who i...,"Lee Sun Kyun, IU, Park Ho San, Song Sae Byuk, ...","Psychological, Life, Drama, Family","Age Gap, Nice Male Lead, Strong Female Lead, H...",#5,9.1

In [6]:
metadata.isnull().values.any()

False

In [7]:
metadata_type = metadata.dtypes

In [8]:
print(metadata_type)

Name                  object
Year of release        int64
Aired Date            object
Aired On              object
Number of Episode      int64
Network               object
Duration              object
Content Rating        object
Synopsis              object
Cast                  object
Genre                 object
Tags                  object
Rank                  object
Rating               float64
dtype: object

In [9]:
print("metadata shape:",metadata.shape)
print("metadata columns name:",metadata.columns)

metadata shape: (100, 14)
metadata columns name: Index(['Name', 'Year of release', 'Aired Date', 'Aired On',
       'Number of Episode', 'Network', 'Duration', 'Content Rating',
       'Synopsis', 'Cast', 'Genre', 'Tags', 'Rank', 'Rating'],
      dtype='object')

In [10]:
import matplotlib.pyplot as plt

In [11]:
from collections import Counter

In [12]:
metadata['Tags'] = metadata['Tags'].str.strip()

tags_list = list()
for tags in metadata['Tags'].to_list():
    tags = tags.split(",  ")
    for tag in tags:
        tags_list.append(tag)
        
tags_df = pd.DataFrame.from_dict(Counter(tags_list), orient = 'index').rename(columns = {0:'Count'})
tags_df.sort_values(by='Count',ascending = False, inplace = True)
print(tags_df)

                                                    Count
Autism, Uncle-Nephew Relationship, Death, Savan...      1
Forensic Science, Prosecutor Female Lead, Docto...      1
Afterlife, Tragic Past, Grudge, Hot-tempered Fe...      1
Housemates, Female Centered Plot, Sismance, Mul...      1
Smart Female Lead, Strong Female Lead, Power St...      1
...                                                   ...
Determined Male Lead, Investigation, Suspense, ...      1
Revenge, Corruption, High Class Society, Female...      1
1980s, Police Procedural, Bromance, Calm Male L...      1
Judge, Tough Past, Dystopia, Antihero, Bromance...      1
Childhood Friends, Friends To Lovers, Strong Ma...      1

[100 rows x 1 columns]

In [13]:
metadata['Genre'] = metadata['Genre'].str.strip()

genre_list = list()
for genres in metadata['Genre'].to_list():
    genres = genres.split(",  ")
    for gen in genres:
        genre_list.append(gen)
        
genre_df = pd.DataFrame.from_dict(Counter(genre_list), orient = 'index').rename(columns = {0:'Count'})
genre_df.sort_values(by='Count',ascending = False, inplace = True)
print(genre_df)

               Count
Drama             52
Romance           49
Comedy            36
Mystery           33
Thriller          33
Action            19
Life              18
Family            15
Melodrama         14
Historical        14
Crime             13
Psychological     12
Supernatural      12
Fantasy           11
Political         10
Friendship         9
Law                8
Horror             7
Medical            7
Sci-Fi             5
Youth              5
Sports             4
Business           4
Military           3
School             2
Food               1

In [14]:
cast_list = list()

for casts in metadata['Cast'].to_list():
    casts = casts.split(", ")
    for a in casts:
        cast_list.append(a)
        
cast_df = pd.DataFrame.from_dict(Counter(cast_list),orient = 'index').rename(columns = {0:'Appearance'})
cast_df.sort_values(by='Appearance',ascending = False,inplace = True)
cast_df.head(10)

               Appearance
Lee Joon Hyuk           6
Jung Kyung Ho           5
Kim Ji Won              5
Song Joong Ki           5
Ji Sung                 4
Yoo Yeon Seok           4
Bae Doo Na              4
Lee Jae Yoon            3
Jun Suk Ho              3
Kim Jung Hyun           3

In [15]:
tags_list = list()

for tags in metadata['Tags'].to_list():
    tags = tags.split(", ")
    for tag in tags:
        tags_list.append(tag)

tags_df = pd.DataFrame.from_dict(Counter(tags_list), orient = 'index').rename(columns = {0:'Count'})
tags_df.sort_values(by='Count',ascending = False, inplace = True)
tags_df.head()

                    Count
Strong Female Lead     43
Smart Female Lead      22
Bromance               21
Smart Male Lead        19
Murder                 18

In [16]:
def get_list(x):
    list_x = str(x)
    string_list = list_x.split(",")
    if len(string_list)>3:
        return string_list[:3]
    return string_list

In [17]:
features = ['Cast', 'Tags', 'Genre']

for feature in features:
  metadata[feature] = metadata[feature].apply(get_list)

metadata[['Name','Cast','Tags', 'Genre']].head()

,Name,Cast,Tags,Genre
0,Move to Heaven,"[Lee Je Hoon, Tang Jun Sang, Hong Seung Hee]","[Autism, Uncle-Nephew Relationship, Death]","[Life, Drama, Family]"
1,Hospital Playlist,"[Jo Jung Suk, Yoo Yeon Seok, Jung Kyung Ho]","[Strong Friendship, Multiple Mains, Best Fri...","[Friendship, Romance, Life]"
2,Flower of Evil,"[Lee Joon Gi, Moon Chae Won, Jang Hee Jin]","[Married Couple, Deception, Suspense]","[Thriller, Romance, Crime]"
3,Hospital Playlist 2,"[Jo Jung Suk, Yoo Yeon Seok, Jung Kyung Ho]","[Workplace, Strong Friendship, Best Friends]","[Friendship, Romance, Life]"
4,My Mister,"[Lee Sun Kyun, IU, Park Ho San]","[Age Gap, Nice Male Lead, Strong Female Lead]","[Psychological, Life, Drama]"

In [18]:
def clean_data(x):
    clean_x = str(x)
    return [str.lower(i.replace(" ", "")) for i in x]

In [19]:
features = ['Cast', 'Tags', 'Genre']

for feature in features:
  metadata[feature] = metadata[feature].apply(clean_data)

In [20]:
def create_soup(x):
    return ' '.join(x['Cast']) + ' ' + ' '.join(x['Tags']) +' '+ ' '.join(x['Genre'])

metadata['Word soup'] = metadata.apply(create_soup, axis=1)
metadata[['Name', 'Word soup', 'Cast', 'Tags', 'Genre']].head()

,Name,Word soup,Cast,Tags,Genre
0,Move to Heaven,leejehoon tangjunsang hongseunghee autism uncl...,"[leejehoon, tangjunsang, hongseunghee]","[autism, uncle-nephewrelationship, death]","[life, drama, family]"
1,Hospital Playlist,jojungsuk yooyeonseok jungkyungho strongfriend...,"[jojungsuk, yooyeonseok, jungkyungho]","[strongfriendship, multiplemains, bestfriends]","[friendship, romance, life]"
2,Flower of Evil,leejoongi moonchaewon jangheejin marriedcouple...,"[leejoongi, moonchaewon, jangheejin]","[marriedcouple, deception, suspense]","[thriller, romance, crime]"
3,Hospital Playlist 2,jojungsuk yooyeonseok jungkyungho workplace st...,"[jojungsuk, yooyeonseok, jungkyungho]","[workplace, strongfriendship, bestfriends]","[friendship, romance, life]"
4,My Mister,leesunkyun iu parkhosan agegap nicemalelead st...,"[leesunkyun, iu, parkhosan]","[agegap, nicemalelead, strongfemalelead]","[psychological, life, drama]"

In [21]:
def get_genre():
  genre = input("What KDrama genre are you interested in (if multiple, please separate them with a comma)? [Type 'skip' to skip this question] ")
  genre = " ".join(["".join(n.split()) for n in genre.lower().split(',')])
  return genre

def get_actors():
  actors = input("Who are some actors within the genre that you love (if multiple, please separate them with a comma)? [Type 'skip' to skip this question] ")
  actors = " ".join(["".join(n.split()) for n in actors.lower().split(',')])
  return actors

def get_tags():
  tags = input("What are some of the tags that describe the Kdramas you want to watch, like elements of the plot, whether or not it is about friendship, etc? (if multiple, please separate them with a comma)? [Type 'skip' to skip this question] ")
  tags = " ".join(["".join(n. split()) for n in tags.lower().split(',')])
  return tags

def get_searchTerms():
  searchTerms = [] 
  genre = get_genre()
  if genre != 'skip':
    searchTerms.append(genre)

  actors = get_actors()
  if actors != 'skip':
    searchTerms.append(actors)

  tags = get_tags()
  if tags != 'skip':
    searchTerms.append(tags)
  
  return searchTerms

In [22]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [23]:
def recommendation(metadata=metadata):
  new_row = metadata.iloc[-1,:].copy()

  searchTerms = get_searchTerms()  
  new_row.iloc[-1] = " ".join(searchTerms) 
  

  metadata = metadata.append(new_row)
  
  
  count = CountVectorizer(stop_words='english')
  count_matrix = count.fit_transform(metadata['Word soup'])

  
  cosine_sim2 = cosine_similarity(count_matrix, count_matrix) 
  
    
  sim_scores = list(enumerate(cosine_sim2[-1,:]))
  sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    
  ranked_titles = []
  for i in range(1, 11):
    indx = sim_scores[i][0]
    ranked_titles.append([metadata['Name'].iloc[indx], sim_scores[i]])
  
  return ranked_titles

In [24]:
recommendation()

What KDrama genre are you interested in (if multiple, please separate them with a comma)? [Type 'skip' to skip this question] Action, thriller, horror
Who are some actors within the genre that you love (if multiple, please separate them with a comma)? [Type 'skip' to skip this question] skip
What are some of the tags that describe the Kdramas you want to watch, like elements of the plot, whether or not it is about friendship, etc? (if multiple, please separate them with a comma)? [Type 'skip' to skip this question] detective, zombies, trauma

C:\Users\user\AppData\Local\Temp\ipykernel_8588\1118678996.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  metadata = metadata.append(new_row)

[['Kingdom', (16, 0.408248290463863)],
 ['Happiness', (12, 0.2721655269759087)],
 ['Healer', (18, 0.2721655269759087)],
 ['Kingdom', (24, 0.2721655269759087)],
 ['Taxi Driver', (31, 0.2721655269759087)],
 ['The Guest', (33, 0.2721655269759087)],
 ['My Name', (48, 0.2721655269759087)],
 ['Strong Woman Do Bong Soon', (55, 0.2721655269759087)],
 ['Strangers from Hell', (59, 0.2721655269759087)],
 ['Children of Nobody', (66, 0.2721655269759087)]]

In [ ]:
recommendation()